<h1>Reset Password</h1>
<%= form_with url: reset_password_path do | form | %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.submit "Reset Password", disable_with: 'Sending mail...', class: 'btn btn-primary' %>
  </div>
<% end %>
